body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(255, 255, 255);
}

.text {
  font-size: 1em;
}

._button {
  display: block;
  position: relative;
  float: left;
  height: 64px;
  border: 1px solid rgb(16, 115, 255);
  border-radius: 3px;
  background-color: rgb(39, 148, 255);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

._button:hover {
  background-color: rgb(64, 159, 253);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

._button:active {
  background-color: rgb(58, 155, 251);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

._button:focus {
  background-color: rgb(8, 126, 243);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.text-1 {
  margin: 60px auto 0;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-2 {
  float: left;
  clear: both;
  width: 80%;
  min-height: 500px;
  margin: 40px 0 0 10%;
  border: 1px solid rgb(119, 119, 119);
  background-color: rgba(255, 255, 255, 0);
  color: rgb(48, 48, 48);
}

._button-1 {
  clear: both;
  z-index: 1;
  width: 39.1666666666%;
  margin: 29px 0 0 10%;
}

._button-2 {
  z-index: 4;
  width: 38.8333333333%;
  margin: 29px 0 0 1.63021%;
}

._button-3 {
  clear: both;
  z-index: 3;
  width: 39.1666666666%;
  margin: 25px 0 0 10%;
}

._button-4 {
  z-index: 5;
  width: 38.8333333333%;
  margin: 25px 0 0 1.63021%;
}

._button-5 {
  clear: both;
  z-index: 6;
  width: 38.8333333333%;
  margin: 24px 0 0 10%;
}

._button-6 {
  z-index: 7;
  width: 38.8333333333%;
  margin: 24px 0 0 1.96094%;
}